<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/clientSatisfactionCSS.css">
    <title>Employee</title>
</head>
<body>
    <!-- nav menu -->
    <nav id = "navContainer">
        <!-- Follow up item -->
        <div class = "navFlexItem">
            <a href="/csFollowUp">
                Follow up
            </a>
        </div>
        <!-- Employee item -->
        <div class = "navFlexItem">
            <a href="/csEmployee">
                Employee
            </a>
        </div>
        <!-- Manager item -->
        <div class = "navFlexItem">
            <a href="/csManager">
                Manager
            </a>
        </div>
        <!-- Feedback item -->
        <div class = "navFlexItem">
            <a href="/csFeedback">
                Feedback
            </a>
        </div>
        <!-- Technician item -->
        <div class = "navFlexItem">
            <a href="/csTechnician">
                Technician
            </a>
        </div>
    </nav>

    <!-- main content container -->
    <div class = mainContentDiv>
        <!-- left segment -->
        <div class = leftSegment>
            
        </div>

        <!-- main segment -->
        <div class = mainSegment>
            <!-- title -->
            <div class = contentTitle> 
                Employee
            </div>

            <!-- form component container -->
            
            <div class = "formContainer">
                <form id = "frmEmployee" class = "formComponent">
                    Employee ID: <input type = "number" id = "employeeID" class = "frmTxtField"><br/>
                    Name: <input type = "text" id = "employeeName" class = "frmTxtField"><br/>
                    Surname: <input type ="text" id= "employeeSurname" class = "frmTxtField"><br/>
                    Address: <input type = "text" id = "employeeAddress" class = "frmTxtField"><br/>
                    Contact details: <input type = "text" id = "employeeContactDetails" class = "frmTxtField"><br/>

                    Job Title: <input type = "text" id = "employeeJobTitle" class = "frmTxtField"><br/>
                    Job Description: <input type = "text" id = "employeeJobDescription" class = "frmTxtField"><br/>

                    <input type="button" value = "Insert" id = "btndepartmentInsert" class="button">
                    <input type="button" value = "Update" id = "btndepartmentUpdate" class="button">
                    <input type="button" value = "Delete" id = "btndepartmentDelete" class="button">
                </form>
                <form id = "frmDepartment" class = "formComponent">
                    Department id: <input type = "number" id = "departmentID" class = "frmTxtField"><br/>
                    Department name: <input type = "text" id = "departmentName" class = "frmTxtField"><br/>
                    Station number: <input type = "text" id = "departmentStationNumber" class = "frmTxtField"><br/>
                    
                    <input type="button" value = "Insert" id = "btndepartmentInsert" class="button">
                    <input type="button" value = "Update" id = "btndepartmentUpdate" class="button">
                    <input type="button" value = "Delete" id = "btndepartmentDelete" class="button">
                </form>
            </div>
        </div>

        <!-- right segment -->
        <div class = rightSegment>
            
        </div>
    </div>
    
</body>
</html>