/* imports  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* general */
body
{
    background-color: rgb(20,20,20);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a
{
    color: rgb(200,200,200);
    text-decoration: none;
}

a:hover
{
    color: rgb(102, 112, 233);
    text-decoration: underline;
}

.contentTitle
{
    font-size: 75px;
    color: rgb(122, 132, 253);
}

.frmCheckbox
{
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(3);
}

.button
{
    /* sizing */
    height: 50px;
    font-size: 40px;
    /* margins */
    margin: 20px;
    /* borders */
    border: solid;
    border-color: black;
    border-radius: 0px;
    /* colors + font */
    font-family: 'Roboto-thin', sans-serif;
    color: black;
    background-color: rgb(122, 132, 253);
    /* animation */
    transition: all 0.2s;
}
.button:hover
{
    /* sizing */
    height: 70px;
    font-size: 50px;
    /* margins */
    margin: 20px;
    /* borders */
    border: solid;
    border-color: black;
    border-radius: 50px;
    /* colors + font */
    font-family: 'Roboto-thin', sans-serif;
    color: white;
    background-color: rgb(122, 132, 253);
    /* animation */
    transition: all 0.2s;
}

.frmTxtField
{
    font-size: 50px;
}

.formComponent
{
    font-size: 50px;
    /* display */
    display: grid;
    /* margins */
    margin: auto;
    /* sizing */
    width: 50%;
    /* colors */
    background-color: rgb(30,30,30);
}

#navContainer
{
    height: 50px;
    background-color: black;
    color: rgb(200,200,200);
    display: flex;
}

.navFlexItem
{
    /* border styling */ 
    border-style: solid;
    border-color: rgb(10, 10, 10);
    font-size: 40px;
    flex: auto;
    text-align: center;
    transition: all 0.2s;
}

.navFlexItem:hover
{
    /* border styling */ 
    border-style: solid;
    border-color: rgb(10, 10, 10);
    /* sizing */
    height: 120px;
    font-size: 100px;
    /* coloring */ 
    background-color: rgb(20,20,20);
}

.mainContentDiv
{
    margin-top: 100px;
    display: flex;
}

.leftSegment
{
    flex: 10%;
    text-align: center;
    color: white;
    background-color: rgb(20,20,20);
}

.mainSegment
{
    flex: 90%;
    text-align: center;
    /* colors */
    color: white;
    background-color: rgb(26,26,26);
}

.rightSegment
{
    flex: 10%;
    text-align: center;
    color: white;
    background-color: rgb(20,20,20);
}

/* Home form */

/* Follow up */
#frmFollowUp
{
    /* display */
    display: grid;
    /* margins */
    margin: auto;
    /* sizing */
    width: 50%;
    /* colors */
    background-color: rgb(30,30,30);
}

#followupID
{

}

#followupStatus
{

}

#followupDate
{

}

#btnInsert
{

}

#btnUpdate
{

}

#btnDelete
{

}

#tableFollowUp
{
    margin: auto;
}

.formContainer
{
    display: flex;
}

/* technictian  */
#frmTechnician
{
    
}

/* feedback */
#feedbackFormTableContainer
{

}

/* employee */
#frmDepartment
{
    margin-top: 0px;
}